i {
    font-style:italic;
}

b {
    font-weight: bold;
}

.view-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    display: flex;
    overflow: auto;
}

.flex-container {
    display: flex;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


.main {
    width:900px;
    position: relative;
    margin: auto;
}

h1 {
    font-family: "Courier New";
    font-size: 3rem;
}
.hello-anim {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation: typewriter 6s steps(8) infinite normal both,
    blinkCursor 700ms steps(2) infinite normal;
    border-right: 4px solid white;
}
@keyframes typewriter {
    0%, 80%, 100% {
        width: 0;
    }
    30%, 50% {
        width: 8ch;
    }
}
@keyframes blinkCursor {
    from {
        border-style: solid;
    }
    to {
        border-style: hidden;
    }
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin: auto;
}

p + p {
    margin-top: 10px;
}

.clear { clear:both; }

.blob, .bloblink {
    position: relative;
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 25px;
    /*
    background: #2C2F33;
    */
    background: rgba(44, 47, 51, .8);
    color:#FFFFFF;
}

.blob:hover {
    border: 2px solid white;
}
.bloblink:hover {
    border: 2px solid crimson;
}

.img-link {
    border: 2px transparent; 
}

.img-link:hover {
    box-shadow: 0 0 0 1.5pt crimson;
}


a:link, a:visited {
    color: #99AAB5;
    text-decoration: none;
}

a:hover {
    color: crimson;
}

.space-container {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position:relative;
    margin: auto;
}