.section {
    position: relative;
    width: 900px;
    margin: auto;
    border: 1px solid white;
}

.section h1 {
    font-size: 3rem;
}
.section h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    margin: auto;
}

p + p {
    margin-top: 10px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

.clear { clear:both; }

.blob {
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 25px;
    background: #2C2F33;
    color:#FFFFFF;
    z-index: 1;
    opacity: .75;
}

.blob:hover {
    border: 2px solid crimson;
}

/* unvisited link */
a:link {
    color: DodgerBlue;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: DodgerBlue;
    text-decoration: none;
}
    
/* mouse over link */
a:hover {
    text-decoration: underline;
}